*{
    margin: 0;
}

header{
    text-align: center;
    margin: 0;
    border-radius: 5px;
    background-color: rgb(236, 180, 110);
}
header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: rgb(87, 68, 72);
}
#trayectoria{
    text-align: center;
    background-color: rgb(58, 138, 138);
    margin: 0;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.parrafo{
    background-color: beige;
    text-align: justify;
    margin: 0;
    padding: 5px;
}

img{
    width: 250px;
}

.textarea-limitada { 
    width: 300px; /* Puedes ajustar este valor según tus necesidades */ 
}